.about-me-container {
  background-color: #f6f6f6 !important;

  h1 {
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: 0.07rem;
    color: var(--black);
  }

  h4 {
    font-weight: 300;
    font-size: 1.4rem;
    color: var(--gray);
    letter-spacing: 0.04rem;
  }

  p {
    font-size: 1rem;
    line-height: 28px;
    font-weight: 300;
    color: var(--black);
  }

  img {
    max-width: 400px;
  }
}
