// :root {
//   --dark: #191919;
//   --light: #fff;
//   --primary: #06283d;
//   --secondary: #256d85;
//   --tertiary: #47b5ff;
//   --medium: #dff6ff;
// }

:root {
  --dark: #243130;
  --light: #fff;
  --primary: #538490;
  --primary1: #3c5b60;
  --primary2: #243130;

  --secondary: #6f6a70;
  --tertiary: #f1d5b0;
  --medium: #dff6ff;
  --gray: #5e5e5e;
}
