<mat-drawer-container class="drawer-container" autosize>
    <mat-drawer #drawer class="drawer-sidenav" mode="side" opened>
        <div class="sidenav-container">
            <div class="profile-container">
                <h3>{{ fullName | titlecase }}</h3>
                <img [src]="profilePicture" class="mat-elevation-z2">
                <p>{{ description }}</p>
                <div class="social-container">
                    <ng-container *ngFor="let socialIcon of socialIcons">
                        <app-social-icon [socialIcon]="socialIcon"></app-social-icon>
                    </ng-container>
                </div>

            </div>
            <mat-divider></mat-divider>
            <app-navigation></app-navigation>
            <mat-divider></mat-divider>
            <div class="contact-me-container">
                <app-button [button]="contactMeBtn"></app-button>
            </div>
        </div>
    </mat-drawer>
    <ng-content selector="drawerContent"></ng-content>
</mat-drawer-container>