<mat-drawer-container class="drawer-container" autosize>
    <mat-drawer #drawer class="drawer-sidenav" mode="side" opened>
        <div class="sidenav-container">
            <div class="profile-container">
                <h3>{{ fullName | titlecase }}</h3>
                <img [src]="profilePicture" class="mat-elevation-z2">
                <p>{{ description }}</p>
                <div class="social-container">
                    <ng-container *ngFor="let social of socialIcons">
                        <div class="social-icon mat-elevation-z1" [matTooltip]="social.tooltip"
                            matTooltipClass="custom-tooltip">
                            <fa-icon [icon]="[social.iconPrefix, social.iconName]"></fa-icon>
                        </div>
                    </ng-container>
                </div>
                <mat-divider></mat-divider>
            </div>
            <ul class="navigation-container">
                <ng-container *ngFor="let navigation of navigations">
                    <li class="navigation-item">
                        <div class="navigation-link" [ngClass]="{
                            'nav-inactive': !navigation.active,
                            'nav-active': navigation.active
                        }" [matTooltipDisabled]="navigation.active" [matTooltip]="navigation.tooltip"
                            matTooltipPosition="after" matTooltipClass="custom-tooltip">
                            <mat-icon>{{ navigation.icon }}</mat-icon>
                            <h5>{{ navigation.label }}</h5>
                        </div>
                    </li>
                </ng-container>
            </ul>
        </div>
    </mat-drawer>
    <ng-content selector="drawerContent"></ng-content>
</mat-drawer-container>